@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc

@{ var i = 0; }
          
<ul class="checkboxlist" id="@Model.Id" sf-checkboxes>
@foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)  
{
    <li>
        <div sf-checkbox>
                <input type="checkbox" 
                    class="@Html.GetFormFieldClass(Model.FieldTypeName)" 
                    name="@Model.Name" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value" 
                @if (Model.Mandatory) {<text>data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage"</text>}
                @if (Model.ContainsValue(pv.Value)){<text>checked="checked"</text>}/>
            <label for="@string.Concat(Model.Id,"_",i)" data-off="off" data-on="on"></label>
            <span sf-checkbox-label onclick="$('#@string.Concat(Model.Id,"_",i)').click();">@(pv.Value)</span>
        </div>
    </li>

    i++;
}
</ul>