@model Umbraco.Forms.Mvc.Models.FieldViewModel  
@using Umbraco.Forms.Mvc
  
@{ var i = 0; }
   
<ul class="@Html.GetFormFieldClass(Model.FieldTypeName)  radiobuttonlist" id="@Model.Id" sf-radios>
@foreach (Umbraco.Forms.Mvc.Models.PrevalueViewModel pv in Model.PreValues)  
{
    <li>
        <div sf-radio>
			<label for="@string.Concat(Model.Id,"_",i)">
				<span sf-wrapper><input type="radio" name="@Model.Id" id="@string.Concat(Model.Id,"_",i)" value="@pv.Value" 
            @if (Model.Mandatory) {<text>data-val="true" data-val-requiredlist="@Model.RequiredErrorMessage"</text>}
            @if (Model.ContainsValue(pv.Value)){<text>checked="checked"</text>} /></span>
	            <span>@(pv.Value)</span>
	        </label>
        </div>
    </li>
    
    i++;
}
</ul>
