@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Carbide.Web.Helpers
@{
    string id = @Model.MacroParameters["responsiveImage"].ToString();
    var udi = Udi.Parse(id);
    var media = Umbraco.Media(udi);
    var output = "<img src=\"" + media.Url + "?width=640\" />";
    bool useLightbox = (@Model.MacroParameters["enableLightbox"].ToString() == "1");
}
@if (useLightbox)
{
    output = "<div class=\"fluidbox-image\"><a href=\"" + media.Url + "?width=1920\">" + output + "</a></div>";
}
<style type="text/css">
    body#tinymce .sf-image-wrapper#@(media.Name.AsCssSelector()) > img {

        display: block;
        max-width: 50%;
    }
    body#tinymce .sf-image-wrapper#@(media.Name.AsCssSelector()) > small {

        display: block;
        margin-top: 0.75rem;
    }
</style>
<div class="sf-image-wrapper p" id="@(media.Name.AsCssSelector())">
    @Html.Raw(HttpUtility.HtmlDecode(output))
    @if (Model.MacroParameters["caption"].ToString() != "")
    {
    <small>@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["caption"].ToString()))</small>
    }
</div>
