@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Security.Cryptography
@using Umbraco.Web
@using Fynydd.Carbide
@using Carbide.Web.Helpers

@{
    var umbCtx = DependencyResolver.Current.GetService<IUmbracoContextFactory>().EnsureUmbracoContext().UmbracoContext;
    var home = Model.AncestorOrSelf(1);
    var settings = home.Children.First(c => c.ContentType.Alias == "settings");

    // Get current domain to be used in robots.txt, page metadata
    var domain = HttpRequests.GetSeoHost(umbCtx);

    // SCSS check and build
    Scss.RunConfiguredScssBuild(umbCtx);
}

<meta charset="utf-8" />
<meta content="IE=EmulateIE10,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

@Html.Raw(Optimization.PreventSearchIndexingWhenDebug(umbCtx))
@Html.Raw(Optimization.PreventBrowserCachingWhenDebug(umbCtx))

@{
    var metaTitle = Model.Name;

    if (Model.HasProperty("metaTitle"))
    {
        if (!string.IsNullOrEmpty(Model.SafeValue<string>("metaTitle")))
        {
            metaTitle = Model.SafeValue<string>("metaTitle");
        }
    }
}
<!-- Page SEO metadata -->
<title>@Html.Raw(metaTitle.ProcessShortCodes(umbCtx))</title>
<meta name="keywords" content="@Html.Raw(Model.SafeValue<string>("metaKeywords").ProcessShortCodes(umbCtx))">
<meta name="description" content="@Html.Raw(Model.SafeValue<string>("metaDescription").ProcessShortCodes(umbCtx))">
@Html.Raw("<link rel=\"canonical\" href=\"" + Model.Url + "\">")

<!-- Open Graph support for Social Channels -->
<meta property="og:site_name" content="@(settings.SafeValue("socialCompanyName").ProcessShortCodes(umbCtx))">
<meta property="og:title" content="@(Html.Raw(metaTitle.ProcessShortCodes(umbCtx)))">
<meta property="og:keywords" content="@Html.Raw(Model.SafeValue<string>("metaKeywords").ProcessShortCodes(umbCtx))">
<meta property="og:description" content="@(Html.Raw(Model.SafeValue<string>("metaDescription").ProcessShortCodes(umbCtx)))">
<meta property="og:type" content="@(Model.SafeValue("ogPageType").HasValue() ? Model.SafeValue("ogPageType") : "website")">
<meta property="og:url" content="@(Model.Url)">
<meta property="og:image" content="@(Html.Raw(Model.HasValue("shareImage") ? "//" + domain + Model.GetCropUrl("shareImage", "SocialSharing") : ""))">

<!-- Twitter Card Support -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="@(Model.Url)">
<meta name="twitter:site" content="@("@" + settings.SafeValue("twitterSiteName").Trim("@"))">
<meta name="twitter:creator" content="@("@" + settings.SafeValue("twitterUserName").Trim("@"))">
<meta name="twitter:title" content="@(Html.Raw(metaTitle.ProcessShortCodes(umbCtx)))">
<meta name="twitter:description" content="@(Html.Raw(Model.SafeValue<string>("metaDescription").ProcessShortCodes(umbCtx)))">
<meta name="twitter:image" content="@(Html.Raw(Model.HasValue("shareImage") ? "//" + domain + Model.GetCropUrl("shareImage", "SocialSharing") : ""))">

<!-- Icon Support -->
<link rel="apple-touch-icon" sizes="180x180" href="@(Html.Raw(settings.HasValue("websiteAvatarPng") ? "//" + domain + settings.GetCropUrl("websiteAvatarPng", "Icon180") : ""))">
<link rel="icon" type="image/png" sizes="32x32" href="@(Html.Raw(settings.HasValue("websiteAvatarPng") ? "//" + domain + settings.GetCropUrl("websiteAvatarPng", "Icon32") : ""))">
<link rel="icon" type="image/png" sizes="16x16" href="@(Html.Raw(settings.HasValue("websiteAvatarPng") ? "//" + domain + settings.GetCropUrl("websiteAvatarPng", "Icon16") : ""))">
<link rel="shortcut icon" type="image/png" href="@(Html.Raw(settings.HasValue("websiteAvatarPng") ? "//" + domain + settings.GetCropUrl("websiteAvatarPng", "Icon48") : ""))">

<!-- FontAwesome -->
<link href="/stylesheets/all.min.css" rel="stylesheet">

<!-- JQuery -->
<script src="@Url.Content(umbCtx, "~/scripts/jquery-3.3.1.min.js", addCacheBuster: true)"></script>

<!-- Fluidbox image lightbox -->
<link rel="stylesheet" href="@Url.Content(umbCtx, "~/scripts/fluidbox/css/fluidbox.min.css", addCacheBuster: true)" />
<script src="@Url.Content(umbCtx, "~/scripts/jquery.ba-throttle-debounce.min.js", addCacheBuster: true)"></script>
<script src="@Url.Content(umbCtx, "~/scripts/fluidbox/jquery.fluidbox.js", addCacheBuster: true, minify: true)"></script>

<!-- Carbide Simple Hero -->
<script src="@Url.Content(umbCtx, "~/scripts/jquery.carbide-simple-hero.js", addCacheBuster: true, minify: false)"></script>

<!-- Stylesheets -->
<link href="@Url.Content(umbCtx, "~/stylesheets/application.css", addCacheBuster: true, minify: true)" rel="stylesheet" />
