@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>
@using System
@using Umbraco.Web
@using Umbraco.Web.Models
@using Fynydd.Carbide
@using Carbide.Web.Helpers

@{ 
    if (Model.SafeValue<bool>("enabled"))
    {
        var umbCtx = DependencyResolver.Current.GetService<IUmbracoContextFactory>().EnsureUmbracoContext().UmbracoContext;
        var home = umbCtx.Content.GetById(umbCtx.PublishedRequest.InitialPublishedContent.Id).AncestorOrSelf(1);
        var settings = home.Children.First(c => c.ContentType.Alias == "settings");
        var pages = home.DescendantsOrSelf().Where(d => d.Level <= home.Level + 1 && d.GetTemplateAlias().HasValue() && d.HasProperty("showInNavigation") && d.SafeValue<bool>("showInNavigation"));

        object _instanceId;
        Html.ViewData.TryGetValue("instanceId", out _instanceId);
        var instanceId = _instanceId == null ? "basic-primary-navigation-unit" : _instanceId.ToString();

        Html.ViewData.Add(new KeyValuePair<string, object>("cssSelector", ".carbide_basic_primary_navigation_unit#" + instanceId));
        Html.RenderPartial("_Partial_CSS_Custom_Properties", Model, Html.ViewData);

<section id="@(instanceId)" class="carbide_basic_primary_navigation_unit" sf-unit>
    <div sf-outer-wrapper>
        <div sf-inner-wrapper>
            <div class="dim-overlay closed" onclick="toggleMenu();"></div>
            <nav role="main">
                <div role="grid" style="--sf-row-gutters: var(--row-gutter); --sf-equal-heights: true; --sf-centered: true;">
                    <div role="gridcell">
                        <section>
            @if (settings.HasValue("companyLogo"))
            {
                            <a href="/" title="@(settings.SafeValue("companyName")) home page"><img src="@(settings.PickerValue("companyLogo").Url)" /></a>
            }

            else
            {
                            <h3>@(settings.SafeValue("companyName"))</h3>
            }
                        </section>
                    </div>

                    <div role="gridcell" sf-width-auto="true">
                        <section>
                            <a onclick="toggleMenu();" class="hamburger mobile-only"><img src="/images/bars.png" /></a>
        @if (Model.SafeValue<bool>("showChildrenOfHomePage"))
        {
            if (pages != null && pages.Count() > 0)
            {
                foreach (var page in pages)
                {
                    var current = false;
                    var currentUrl = HttpContext.Current.GetRelativeUrl(useLowerCase: true, stripQueryString: true);
                    var newUrl = page.GetRelativeUrl().ToLower().RemoveQueryString().TrimEnd("/");

                    if (currentUrl == newUrl)
                    {
                        current = true;
                    }

                            <a href="@(page.GetRelativeUrl())" class="not-mobile@(Html.Raw(current ? " current" : ""))">@(page.GetBestMenuName())</a>
                }
            }
        }

        else
        {
            if (Model.HasValue("links"))
            {
                foreach (var link in Model.Value<IEnumerable<Link>>("links"))
                {
                    var content = Umbraco.Content(link.Udi);

                    if (content != null)
                    {
                        var current = false;
                        var currentUrl = HttpContext.Current.GetRelativeUrl(useLowerCase: true, stripQueryString: true);
                        var newUrl = content.GetRelativeUrl().ToLower().RemoveQueryString().TrimEnd("/");

                        if (currentUrl == newUrl)
                        {
                            current = true;
                        }

                                <a href="@(content.GetRelativeUrl())" target="@(link.Target)" class="not-mobile@(Html.Raw(current ? " current" : ""))">@(content.GetBestMenuName())</a>
                    }

                    else
                    {
                                <a href="@(link.Url)" target="@(link.Target)" class="not-mobile">@(link.Name)</a>
                    }
                }
            }
        }
                        </section>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="primary-navigation-mobile" class="closed mobile-only">
        <nav>
            <div role="grid" style="">
                <div role="gridcell">
                    <section>
            @if (settings.HasValue("companyLogo"))
            {
                        <a href="/" title="@(settings.SafeValue("companyName")) home page"><img src="@(settings.PickerValue("companyLogo").Url)" /></a>
            }

            else
            {
                        <h3>@(settings.SafeValue("companyName"))</h3>
            }
                    </section>
                </div>

                <div role="gridcell">
                    <section>
            @if (Model.SafeValue<bool>("showChildrenOfHomePage"))
            {
                if (pages != null && pages.Count() > 0)
                {
                    foreach (var page in pages)
                    {
                        var current = false;
                        var currentUrl = HttpContext.Current.GetRelativeUrl(useLowerCase: true, stripQueryString: true);
                        var newUrl = page.GetRelativeUrl().ToLower().RemoveQueryString().TrimEnd("/");

                        if (currentUrl == newUrl)
                        {
                            current = true;
                        }

                        <a href="@(page.GetRelativeUrl())" class="@(Html.Raw(current ? " current" : ""))">@(page.GetBestMenuName())</a>
                    }
                }
            }

            else
            {
                if (Model.HasValue("links"))
                {
                    foreach (var link in Model.Value<IEnumerable<Link>>("links"))
                    {
                        var content = Umbraco.Content(link.Udi);

                        if (content != null)
                        {
                            var current = false;

                            if (HttpContext.Current.GetRelativeUrl(useLowerCase: true, stripQueryString: true) == content.GetRelativeUrl(useLowerCase: true, stripQueryString: true))
                            {
                                current = true;
                            }

                            <a href="@(content.GetRelativeUrl())" target="@(link.Target)" class="@(Html.Raw(current ? " current" : ""))">@(content.GetBestMenuName())</a>
                        }

                        else
                        {
                            <a href="@(link.Url)" target="@(link.Target)">@(link.Name)</a>
                        }
                    }
                }
            }
                    </section>
                </div>
            </div>
        </nav>
    </div>
</section>
<script>

    function toggleMenu() {

        $("#primary-navigation-mobile").toggleClass("closed");
        $(".dim-overlay").toggleClass("closed");
    }

    function processNavheight() {

        $("main[role='main']").css("padding-top", $("#primary-navigation").outerHeight() + "px");
    }

    $(window).on("resize", function () {

        processNavheight();
    });

    $(document).ready(function () {

        processNavheight();
    });

</script>
    }
}
