@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels
@using Fynydd.Carbide
@{
	Layout = "Master.cshtml";
}

<section id="hero-unit" sf-unit>
    <div role="presentation" id="dimmer"></div>
    <div sf-outer-wrapper>
        <div sf-inner-wrapper>
            <div role="grid" style="--sf-tabp-cols: 2; --sf-centered: true;">
                <div role="gridcell">
                    <div id="hero-content">
                        <div role="presentation">
                            @foreach(var frame in Model.SafeNestedValues("carbideSimpleHeroFrames"))
                            {
                            <div class="frame" data-img="@(frame.PickerValue("carbideSimpleHeroBackgroundImage").Url)">
                                <h1>@Html.Raw(frame.SafeValue("carbideSimpleHeroTitle"))</h1>
                                <p>
                                    @Html.Raw(frame.SafeValue("carbideSimpleHeroExcerpt"))
                                </p>
                                <a href="@(frame.HasValue("carbideSimpleHeroButtonLink") ? frame.PickerValue("carbideSimpleHeroButtonLink").Url : frame.SafeValue<string>("carbideSimpleHeroButtonUrl"))" role="button">@Html.Raw(frame.SafeValue("carbideSimpleHeroButtonText"))</a>
                            </div>
                            }
                            <div class="nodes">
                            @foreach(var frame in Model.SafeNestedValues("carbideSimpleHeroFrames"))
                            {
                                <a></a>
                            }
                                <span></span>
                            </div>
                        </div>
                        <script>

                            var slideCount = $("#hero-content .frame").length;
                            var slideTimer;
                            var countdownTimer;
                            var slideDuration = 7000;
                            var countdown = parseInt(slideDuration / 1000);
                            var transitionTime = 500;

                            // Preload Images
                            var images = new Array();
                            $("#hero-content .frame").each(function (index) {

                                images[index] = new Image();
                                images[index].src = $(this).attr("data-img");
                            });

                            $("#hero-content .nodes > a").each(function (index) {

                                $(this).on("click", function () {

                                    nextSlide(index);
                                });
                            });

                            function nextSlide(index) {

                                var nodeIndex = index;
                                var nextSlideIndex = index + 1;

                                if (nextSlideIndex >= slideCount) {

                                    nextSlideIndex = 0;
                                }

                                clearTimeout(slideTimer);

                                countdown = parseInt(slideDuration / 1000);
                                //displayCountdown();

                                clearTimeout(countdownTimer);
                                countdownTimer = setInterval(function () {

                                    countdown--;

                                    //displayCountdown();                                       

                                }, 1000);

                                slideTimer = setTimeout(function () {

                                    nextSlide(nextSlideIndex);

                                }, slideDuration);

                                $("#hero-content .nodes > a").each(function (index) {

                                    if (index !== nodeIndex) {

                                        $(this).html("<i class='fal fa-circle'></i>");

                                    } else {

                                        $(this).html("<i class='fas fa-circle'></i>");
                                    }
                                });

                                $("#hero-content .frame").each(function (index) {

                                    var frame = this;

                                    if (index !== nodeIndex) {

                                        $(frame).removeClass("current");

                                    } else {

                                        $(frame).addClass("current");

                                        $("#hero-unit").css("background-image", "url('" + $(frame).attr("data-img") + "')");
                                    }
                                });
                            }

                            function displayCountdown() {

                                var text = "";

                                if (countdown > 0) {

                                    text = countdown;
                                }

                                $("#hero-content .nodes > span").html(text);
                            }

                            nextSlide(0);
                            //displayCountdown();

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
