@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@using Bolide.Helpers
@using Fynydd.Carbide
@{
    Layout = null;

    var umbCtx = DependencyResolver.Current.GetService<IUmbracoContextFactory>().EnsureUmbracoContext().UmbracoContext;
    var home = Model.AncestorOrSelf("homepage");
}
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        Html.RenderPartial("_Partial_Head");

        var breakpoints = new string[] { "zero", "phab", "tabp", "tabl", "note", "desk", "elas" };

    <style type="text/css">

        @if(home.SafeValue("customFontURLs").HasValue())
        {
<text>    @Html.Raw(home.SafeValue("customFontURLs"))</text>
        }

    :root {

        --background-color: var(--sf-color-white);
        --foreground-color: var(--sf-color-white-contrast);

        @if(home.SafeValue("bodyFontStack").HasValue())
        {
<text>        --font-body: @Html.Raw(home.SafeValue("bodyFontStack").Trim(";"));</text>
        }@if(home.SafeValue("monoFontStack").HasValue())
        {
<text>        --font-mono: @Html.Raw(home.SafeValue("monoFontStack").Trim(";"));</text>
        }@if (home.SafeValue("headlineFontStack").HasValue())
        {
<text>        --font-head: @Html.Raw(home.SafeValue("headlineFontStack").Trim(";"));</text>
        }
    }

        @foreach (var breakpoint in breakpoints)
        {
            var width = Settings.GetCssBreakpoint(breakpoint);

            if (width != "false")
            {
                if (home.SafeValue(breakpoint + "CssProperties").HasValue())
                {
<text>    @@media (min-width: @(width)) {

        :root {

            @(home.SafeValue(breakpoint + "CssProperties").Replace("\n", " "))
        }
    }
</text>
                }
            }
        }
    html, body {

        background-color: var(--background-color);
        color: var(--foreground-color);
    }
    </style>
    }

</head>
<body>
    <header></header>
    <section id="siteContent">
        <main role="main">
            @RenderBody()
        </main>
    </section>
    <footer></footer>
</body>
</html>
